<header class='entete'>
	<nav>
		<div class="nav-container">
			<a href="/" id="logo"><i class="fa fa-cubes fa-5x"></i><h1>Node.js - Express - mongoDB et EJS</h1></a>
			<ul class="menu">
				<li>
					<a href='/vider'><i class="fa fa-industry" aria-hidden="true"></i>Vider</a>
				</li>
				<li>
					<a href='/'><i class="fa fa fa-users" aria-hidden="true"></i>Accueil</a>
				</li>
				<li>
					<a href='/adresse'><i class="fa fa-graduation-cap" aria-hidden="true"></i>Adresse</a>
				</li>
				<li>
					<a href='/peupler'><i class="fas fa-users"></i>Peupler</a>
				</li>
				<li>
					<form action="/rechercher" method="POST">
						<input type="text" placeholder="Rechercher" name="rechercher">
					    <button type="submit"><i class="fa fa-search"></i></button>
					</form>
				</li>
			</ul>
	 	</div>
	 </nav> 
 </header>

 