<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Profil</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
 <%- include('head') %> 
<body>
 <%- include('entete') %>
 <h1>Profil</h1>
 <%- include('footer') %>
</body>
</html>