<!DOCTYPE html>
<html lang="fr">
<head>
 <meta charset="UTF-8">
 <title>Exercice 6</title>
 <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
 <%- include('composants/head') %> 
<body>
 <%- include('composants/entete') %>
 <h1>Accueil</h1>
 <p>Bienvenue a l'atelier Node.js</p>
 <%- include('composants/footer') %>
</body>
</html>