* {
	margin: 0;
	list-style-type: none;
	text-decoration: none;

	div.nav-container {
		display: flex;
		justify-content: center;

		a:first-child {
			display: flex;

			h1 {
				line-height: 3;
			}
		}
		a:not(:first-child) {
			line-height: 5;
		}
		form {
			line-height: 5;
		}
	}
}